<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <packageSources>
    <add key="nuget-libs-release" value="https://srv01af2.corp.trumpf.com/artifactory/api/nuget/nuget-libs-release" />
    <add key="nuget-libs-snapshot" value="https://srv01af2.corp.trumpf.com/artifactory/api/nuget/nuget-libs-snapshot" />
  </packageSources>
</configuration>